<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Корзина</title>
</head>
<body>

<h1>Корзина покупок</h1>
<a href="/home" class="back-button">Назад</a>

<div th:if="${cartItems == null}">
    <p th:text="${message}">Корзина пуста</p>
</div>

<div th:if="${cartItems != null}">
    <table>
        <thead>
        <tr>
            <th>Товар</th>
            <th>Количество</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${cartItems}">
            <td th:text="${item.productName}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.price}"></td>
            <td>
                <form th:action="@{/order/cart/add}" method="post">
                    <input type="hidden" name="productId" th:value="${item.productId}" />
                    <input type="hidden" name="quantity" value="1" />
                    <button tye="submit">+</button>

                </form>
                <form th:action="@{/order/cart/decrease}" method="post">
                    <input type="hidden" name="productId" th:value="${item.productId}" />
                    <button type="submit">-</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <p>Сумма: <span th:text="${totalPrice}">Цена</span> руб.</p>
    <form th:action="@{/order/clear}" method="post">
        <input type="hidden" name="userId" th:value="${userId}"/>
        <button type="submit">Очистить корзину</button>
    </form>
    <form th:action="@{/order/checkout}" method="post">
        <input type="hidden" name="userId" th:value="${userId}"/>
        <button type="submit">Оформить заказ</button>
    </form>
</div>

</body>
</html>